# Dart tool and build artifacts
.dart_tool/
.pub/
build/
coverage/
pubspec.lock

# macOS system files
.DS_Store

# IDE and editor configurations
.atom/
.idea/
.vscode/
.vscode-test/

*.exe
benchmark_results.csv
