name: relic_workspace
publish_to: none

environment:
  sdk: ^3.8.0

workspace:
  - packages/relic
  - packages/relic_core
  - packages/relic_io
  # Internal support packages (not published)
  - packages/benchmark
  - packages/examples
  - packages/test_utils

dev_dependencies:
  melos: ^7.4.0-dev.0 # Special support for Dart 3.8 (see https://github.com/invertase/melos/pull/979)

melos:
  packages:
    - packages/*

  scripts:
    test:
      run: dart test
      exec:
        concurrency: 1
      packageFilters:
        flutter: false
        dependsOn: test
        dirExists: test
      description: Run tests in all packages

    coverage:
      run: >-
        dart pub global run coverage:test_with_coverage --branch-coverage
        --scope-output=relic
        --scope-output=relic_core
        --scope-output=relic_io
      exec:
        concurrency: 1 # for saner output
      packageFilters:
        flutter: false
        dependsOn: test
        dirExists: test
      description: Run tests with coverage collection for all packages

    check:
      steps:
        - dart analyze --fatal-infos .
        - dart format --set-exit-if-changed .
        - dart pub run melos run test
      description: Run all checks (analyze, format, test)
