name: relic
description: A lightweight and flexible web server inspired by Shelf for building APIs and backend services.
version: 0.12.0
repository: https://github.com/serverpod/relic
homepage: https://docs.dartrelic.dev/
topics:
  - server
  - web
  - backend
  - http

environment:
  sdk: ^3.7.0

dependencies:
  async: ^2.11.0
  collection: ^1.18.0
  convert: ^3.1.1
  crypto: ^3.0.0
  http_parser: ^4.0.2
  meta: ^1.15.0
  mime: ">=1.0.6 <3.0.0"
  path: ^1.8.3
  stack_trace: ^1.10.0
  stream_channel: ^2.1.1
  vm_service: ^15.0.0
  web_socket: ^1.0.1
  web_socket_channel: ^3.0.3

dev_dependencies:
  benchmark_harness: ^2.3.1
  cli_tools: ^0.9.0
  config: ^0.8.3
  git: ^2.2.1
  http: ^1.1.0
  lints: ">=5.0.0 <7.0.0"
  mockito: ^5.4.4
  routingkit: ^5.1.2
  serverpod_lints: ^2.8.0
  spanner: ^1.0.5
  test: ^1.25.10
  test_descriptor: ^2.0.1
  # The following are not used directly, but are included transitively.
  # Due to bad semver hygiene we need to bound the versions higher than
  # our direct dependencies indicate.
  file: ^7.0.0 # ignore: sort_pub_dependencies
  frontend_server_client: ^4.0.0
  pub_semver: ^2.1.4
  watcher: ^1.1.0
