name: relic
description: A lightweight web server inspired by Shelf.
version: 0.2.0
repository: https://github.com/serverpod/relic

environment:
  sdk: '>=3.3.0 <4.0.0'
  
dependencies:
  async: ^2.11.0
  collection: ^1.17.1
  http_parser: ^4.0.2
  path: ^1.8.2
  stack_trace: ^1.10.0
  stream_channel: ^2.1.1
  mime: ">=1.0.6 <3.0.0"
  convert: ^3.1.1

dev_dependencies:
  lints: ">=3.0.0 <6.0.0"
  http: '>=1.0.0 <2.0.0'
  test: ^1.24.2
  test_descriptor: ^2.0.1
  mockito: ^5.4.4