name: Relic Ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * 0" # every Sunday at 00:00 UTC
  workflow_dispatch: # allow manual triggering

env:
  PUB_CACHE_PATH: ~/.pub-cache

jobs:
  build:
    name: Verify Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        dart_sdk: ["3.3.0", stable]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Dart
        uses: dart-lang/setup-dart@v1.3
        with:
          sdk: ${{ matrix.dart_sdk }}

      - name: Cache Dart Dependencies
        uses: actions/cache@v4
        with:
          path: ${{ env.PUB_CACHE_PATH }}
          key: ${{ runner.os }}-pub-cache-${{ matrix.dart_sdk }}
          restore-keys: ${{ runner.os }}-pub-cache-

      - name: Verify Formatting
        # Disable formatting check on stable for now.
        # Dart stable (3.7.2 as of 2025-03-14) has radically different formatting
        if: ${{ matrix.dart_sdk != 'stable' }}
        run: dart format --output=none --set-exit-if-changed .

      - name: Check Dependency Bounds
        if: ${{ matrix.dart_sdk != '3.3.0' }} # --tighten available from 3.5
        run: >-
          dart pub downgrade --tighten &&
          dart pub upgrade --major-versions &&
          git diff-files --quiet

      - name: Analyze
        run: >-
          dart pub get &&
          dart analyze --fatal-infos

      - name: Check Pana Score
        if: ${{ matrix.dart_sdk == 'stable' }}
        run: >-
          dart pub global activate pana &&
          dart pub global run pana --no-warning --exit-code-threshold=0 --json

      - name: Publish Dry Run
        run: dart pub publish --dry-run

  unit_tests:
    name: Run Unit Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        dart_sdk: ["3.3.0", stable, beta]
        deps: [downgrade, upgrade]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Dart
        uses: dart-lang/setup-dart@v1.3
        with:
          sdk: ${{ matrix.dart_sdk }}

      - name: Cache Dart Dependencies
        uses: actions/cache@v4
        with:
          path: ${{ env.PUB_CACHE_PATH }}
          key: ${{ runner.os }}-pub-cache-${{ matrix.dart_sdk }}
          restore-keys: ${{ runner.os }}-pub-cache-

      - name: Install Dependencies (${{ matrix.deps }})
        run: >-
          dart pub ${{ matrix.deps }} &&
          dart pub get

      - name: Run Tests With Coverage
        continue-on-error: ${{ matrix.dart_sdk != 'stable' }}
        run: >-
          dart pub global activate coverage &&
          dart pub global run coverage:test_with_coverage --branch-coverage

      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/lcov.info
